Repository TeamBasedInquiryLearning/library, pull requests merged in 2024-09, with the labels that each got.

#302 Precalculus EQ5 Checkit tweeks
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
Labels: checkit, precalculus

#311 Speed improvement in EQ5 checkit
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ5/template.xml
  source/precalculus/sage/common.sage
Labels: checkit, precalculus

#320 Rename non-preview edition of Precalculus
  site/pages/library.md
Labels: precalculus

#285 Tweak precalc FN4 checkit
  source/precalculus/exercises/outcomes/FN/FN4/generator.sage
  source/precalculus/exercises/outcomes/FN/FN4/template.xml
Labels: checkit, precalculus

#267 Precalculus EL4 Checkit
  source/precalculus/exercises/outcomes/EL/EL4/generator.sage
  source/precalculus/exercises/outcomes/EL/EL4/template.xml
Labels: checkit, precalculus

#268 Precalculus EL7 Checkit
  source/precalculus/exercises/outcomes/EL/EL7/generator.sage
  source/precalculus/exercises/outcomes/EL/EL7/template.xml
Labels: checkit, precalculus

#297 Precalculus LF7 Checkit
  source/precalculus/exercises/outcomes/LF/LF7/generator.sage
  source/precalculus/exercises/outcomes/LF/LF7/template.xml
Labels: checkit, precalculus

#298 Consistency in using variable
  source/precalculus/exercises/outcomes/EQ/EQ2/generator.sage
Labels: bug, checkit, precalculus

#314 Prompt use of technology in LE2
  source/linear-algebra/exercises/outcomes/LE/LE2/template.xml
Labels: linear-algebra

#313 Prompt for a bit more detail in EV1 linear combo construction
  source/linear-algebra/exercises/outcomes/EV/EV1/template.xml
  source/linear-algebra/source/02-EV/samples/01.ptx
Labels: linear-algebra, checkit
