Repository TeamBasedInquiryLearning/library, pull requests merged in 2024-08, with the labels that each got.

#159 Clean up references to \pm \infty
  codechat_config_cal.yaml
  source/calculus/source/01-LT/05.ptx
Labels: calculus

#222 Calculus LT1 Checkit Missing <p> tags
  source/calculus/exercises/outcomes/LT/LT1/template.xml
Labels: checkit, calculus

#226 FN1 wording change
  source/precalculus/exercises/outcomes/FN/FN1/template.xml
Labels: checkit, precalculus

#230 Remove Mathfest info from site
  site/description.html
Labels: website

#246 Fix answer in EQ 1
  source/precalculus/source/01-EQ/01.ptx
Labels: precalculus

#251 Precalculus Checkit FN5 Bugfix
  source/precalculus/exercises/outcomes/FN/FN5/generator.sage
  source/precalculus/exercises/outcomes/FN/FN5/template.xml
Labels: checkit, precalculus

#211 Precalculus EQ3 Checkit
  source/precalculus/exercises/outcomes/EQ/EQ3/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ3/template.xml
Labels: checkit, precalculus

#216 Precalculus EQ7 Checkit
  source/precalculus/exercises/outcomes/EQ/EQ7/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ7/template.xml
  source/precalculus/sage/common.sage
Labels: checkit, precalculus

#236 Precalculus LF1 Checkit
  source/precalculus/exercises/outcomes/LF/LF1/generator.sage
  source/precalculus/exercises/outcomes/LF/LF1/template.xml
Labels: checkit, precalculus

#237 Precalculus Checkit LF3
  source/precalculus/exercises/outcomes/LF/LF3/generator.sage
  source/precalculus/exercises/outcomes/LF/LF3/template.xml
  source/precalculus/sage/common.sage
Labels: checkit, precalculus

#238 Precalculus LF4 Checkit
  source/precalculus/exercises/outcomes/LF/LF4/generator.sage
  source/precalculus/exercises/outcomes/LF/LF4/template.xml
Labels: checkit, precalculus

#259 Fix FN2 ticks bug
  source/precalculus/exercises/outcomes/FN/FN2/generator.sage
Labels: checkit, precalculus

#249 Precalculus LF5 Checkit
  source/precalculus/exercises/outcomes/LF/LF5/generator.sage
  source/precalculus/exercises/outcomes/LF/LF5/template.xml
Labels: checkit, precalculus

#255 Precalculus EL1 Checkit
  source/precalculus/exercises/outcomes/EL/EL1/generator.sage
  source/precalculus/exercises/outcomes/EL/EL1/template.xml
Labels: checkit, precalculus

#256 Precalculus EL2 Checkit
  source/precalculus/exercises/outcomes/EL/EL2/generator.sage
  source/precalculus/exercises/outcomes/EL/EL2/template.xml
Labels: checkit, precalculus

#260 Precalculus EL3 Checkit
  source/precalculus/exercises/outcomes/EL/EL3/generator.sage
  source/precalculus/exercises/outcomes/EL/EL3/template.xml
Labels: checkit, precalculus

#263 checkit EL6
  source/precalculus/exercises/outcomes/EL/EL6/generator.sage
  source/precalculus/exercises/outcomes/EL/EL6/template.xml
Labels: checkit, precalculus

#266 CheckIt: add flag to preview all 1000 seeds
  scripts/_preview_outcome.sage
  scripts/preview_outcome.py
Labels: checkit

#270 Precalculus Checkit LF3 bugfix: Unhold before plotting
  source/precalculus/exercises/outcomes/LF/LF3/generator.sage
Labels: bug, checkit, precalculus

#272 FN3 Checkit precalculus fix overly large banks
  source/precalculus/exercises/outcomes/FN/FN3/generator.sage
Labels: checkit, precalculus

#279 Tweak wording on answers in precalculus EQ5 Checkit
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
Labels: checkit, precalculus

#274 remove mistake in LE2 activity, add doenet interactive for adding rows
  source/linear-algebra/source/01-LE/02.ptx
  source/linear-algebra/source/01-LE/doenet/LE2-add-rows.xml
Labels: linear-algebra

#287 Better error message in Checkit preview for an undefined outcome
  scripts/preview_outcome.py
Labels: technical

#289 Precalc checkit EQ7 remove duplicate
  source/precalculus/exercises/outcomes/EQ/EQ7/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ7/template.xml
Labels: checkit, precalculus
