Repository TeamBasedInquiryLearning/library, pull requests merged in 2024-11, with the labels that each got.

#383 Ensure graphs include origin
  source/precalculus/exercises/outcomes/FN/FN2/generator.sage
Labels: checkit, precalculus

#400 Consistent verbose slugs/IDs for books
  .github/workflows/pretext-cli.yml
  codechat_config_cal.yaml
  codechat_config_calculus.yaml
  codechat_config_la.yaml
  codechat_config_linear_algebra.yaml
  codechat_config_precal.yaml
  codechat_config_precalculus.yaml
  codespace-welcome.md
  project.ptx
  scripts/publish_edition.py
Labels: technical

#401 Create a codechat config file for new codespace
  .devcontainer.json
Labels: technical

#403 Add appendix for identities
  source/precalculus/source/meta/backmatter.ptx
  source/precalculus/source/meta/identities.ptx
Labels: precalculus

#406 typo fix to PS2
  source/calculus/source/09-PS/02.ptx
Labels: calculus

#412 typo in 4.4.2 (b)
  source/linear-algebra/source/04-MX/04.ptx
Labels: linear-algebra

#407 Tonya-11-9-2024
  source/precalculus/assets/Images/unit-circle-image-for-difference-formula.jpg
  source/precalculus/source/08-TE/02.ptx
Labels: precalculus

#415 EL2 Precalculus Checkit graph tweak
  source/precalculus/exercises/outcomes/EL/EL2/generator.sage
Labels: checkit, precalculus

#413 Change expression to function
  source/precalculus/exercises/outcomes/EL/EL1/template.xml
Labels: checkit, precalculus

#426 refactor EL2 to produce nice TeX
  source/precalculus/exercises/outcomes/EL/EL2/generator.sage
  source/precalculus/exercises/outcomes/EL/EL2/template.xml
Labels: checkit, precalculus

#405 For #404, placed correct answer in (b) and commented reasoning for other false answers. Inserted correct limit of 1 in part (c).
  source/calculus/source/08-SQ/07.ptx
Labels: calculus
