Repository TeamBasedInquiryLearning/library, pull requests merged in 2024-12, with the labels that each got.

#449 comment out cylinder and rectangular prism.
  source/calculus/exercises/outcomes/AI/AI5/generator.sage
Labels: checkit, calculus

#456 Update presentations on website
  site/pages/about.md
Labels: website

#467 Add more description of TBIL
  site/pages/about.md
Labels: website

#479 Bunn-12.17.24-formatting-in-octave
  source/linear-algebra/source/02-EV/05.ptx
Labels: linear-algebra

#416 Appendix of common graphs
  source/precalculus/source/meta/backmatter.ptx
  source/precalculus/source/meta/graphs.ptx
Labels: enhancement, precalculus

#353 Issue 352-EV7-suggestion
  source/linear-algebra/source/02-EV/07.ptx
Labels: linear-algebra

#438 Fix latex presentation of log_b in EL4 checkit
  source/precalculus/exercises/outcomes/EL/EL4/generator.sage
Labels: checkit, precalculus, under-review

#491 Fix LT2 activity answer scaffolding
  source/calculus/source/01-LT/02.ptx
Labels: calculus

#486 Refactor LE2 generation
  source/linear-algebra/exercises/outcomes/LE/LE2/generator.sage
  source/linear-algebra/exercises/outcomes/LE/LE2/template.xml
Labels: linear-algebra, checkit, seeking-reviewer

#496 Display powers of trig functions in usual way
  source/calculus/exercises/outcomes/TI/TI3/generator.sage
  source/calculus/exercises/outcomes/TI/TI3/template.xml
Labels: checkit, calculus, under-review

#503 Clarify form of integral for TI3
  source/calculus/exercises/outcomes/TI/TI3/template.xml
Labels: calculus, under-review

#460 Suggestion for LE2 #334
  source/linear-algebra/source/01-LE/02.ptx
Labels: linear-algebra, seeking-reviewer

#501 Added new activity to FN2
  source/precalculus/source/02-FN/02.ptx
Labels: precalculus, seeking-reviewer

#507 promote `format rat` to LE2
  source/linear-algebra/source/01-LE/02.ptx
  source/linear-algebra/source/02-EV/05.ptx
Labels: linear-algebra, under-review

#509 update frontmatter to use bibinfo and fix other deprecations
  schema/tbil.rng
  scripts/quickbuild_changes.py
  source/calculus/source/01-LT/01.ptx
  source/calculus/source/01-LT/03.ptx
  source/calculus/source/03-AD/03.ptx
  source/calculus/source/04-IN/04.ptx
  source/calculus/source/05-TI/02.ptx
  source/calculus/source/06-AI/04comments.ptx.bak
  source/calculus/source/08-SQ/02.ptx
  source/calculus/source/meta/frontmatter.ptx
  source/common/authors/clontz.ptx
  source/common/authors/lewis.ptx
  source/common/copyright.ptx
  source/common/website.ptx
  source/linear-algebra/source/01-LE/02.ptx
  source/linear-algebra/source/future-ON/02.ptx.bak
  source/linear-algebra/source/future-ON/03.ptx.bak
  source/linear-algebra/source/future-ON/05.ptx.bak
  source/linear-algebra/source/meta/frontmatter.ptx
  source/precalculus/source/meta/frontmatter.ptx
Labels: library-wide, awaiting-author

#520 issue #396
  source/linear-algebra/source/03-AT/03.ptx
Labels: awaiting-author

#514 Ensure remarks have <p> tags
  source/linear-algebra/source/02-EV/03.ptx
  source/linear-algebra/source/02-EV/04.ptx
  source/precalculus/source/01-EQ/01.ptx
  source/precalculus/source/01-EQ/02.ptx
  source/precalculus/source/01-EQ/04.ptx
  source/precalculus/source/01-EQ/05.ptx
  source/precalculus/source/02-FN/01.ptx
  source/precalculus/source/02-FN/03.ptx
  source/precalculus/source/02-FN/06.ptx
  source/precalculus/source/03-LF/01.ptx
  source/precalculus/source/03-LF/02.ptx
  source/precalculus/source/03-LF/04.ptx
  source/precalculus/source/03-LF/05.ptx
  source/precalculus/source/03-LF/06.ptx
  source/precalculus/source/03-LF/07.ptx
  source/precalculus/source/04-PR/05.ptx
  source/precalculus/source/05-EL/01.ptx
  source/precalculus/source/05-EL/03.ptx
  source/precalculus/source/05-EL/05.ptx
  source/precalculus/source/05-EL/06.ptx
  source/precalculus/source/05-EL/07.ptx
  source/precalculus/source/06-TR/04.ptx
  source/precalculus/source/08-TE/01.ptx
  source/precalculus/source/08-TE/02.ptx
Labels: bug, linear-algebra, precalculus, seeking-reviewer

#521 Fix precalculus pdf build
  source/precalculus/source/02-FN/05.ptx
  source/precalculus/source/08-TE/02.ptx
Labels: bug, precalculus, seeking-reviewer

#518 Remove statements from remarks
  source/calculus/source/01-LT/01.ptx
  source/calculus/source/01-LT/03.ptx
  source/calculus/source/01-LT/04.ptx
  source/calculus/source/01-LT/06.ptx
  source/calculus/source/02-DF/02.ptx
  source/calculus/source/03-AD/06.ptx
  source/calculus/source/03-AD/07.ptx
  source/calculus/source/04-IN/04.ptx
  source/calculus/source/04-IN/07.ptx
  source/calculus/source/05-TI/03.ptx
  source/calculus/source/06-AI/03.ptx
  source/calculus/source/08-SQ/01.ptx
  source/calculus/source/09-PS/02.ptx
  source/precalculus/source/04-PR/01.ptx
  source/precalculus/source/04-PR/03.ptx
  source/precalculus/source/04-PR/05.ptx
  source/precalculus/source/05-EL/01.ptx
  source/precalculus/source/07-PF/01.ptx
Labels: library-wide, seeking-reviewer

#368 LF6 update
  source/precalculus/source/03-LF/06.ptx
Labels: precalculus, awaiting-author

#439 Add sage images for AD
  source/calculus/source/03-AD/02.ptx
  source/calculus/source/03-AD/04.ptx
  source/calculus/source/03-AD/06.ptx
  source/calculus/source/03-AD/07.ptx
  source/calculus/source/03-AD/08.ptx
Labels: calculus

#442 IN Sage Images
  source/calculus/source/04-IN/01.ptx
  source/calculus/source/04-IN/02.ptx
  source/calculus/source/04-IN/05.ptx
  source/calculus/source/04-IN/08.ptx
Labels: calculus, under-review

#534 LA AT validation
  source/linear-algebra/source/03-AT/01.ptx
  source/linear-algebra/source/03-AT/02.ptx
  source/linear-algebra/source/03-AT/03.ptx
  source/linear-algebra/source/03-AT/04.ptx
  source/linear-algebra/source/03-AT/05.ptx
  source/linear-algebra/source/03-AT/06.ptx
  source/linear-algebra/source/03-AT/readiness.ptx
  source/linear-algebra/source/03-AT/samples/01.ptx
  source/linear-algebra/source/03-AT/samples/02.ptx
  source/linear-algebra/source/03-AT/samples/03.ptx
  source/linear-algebra/source/03-AT/samples/04.ptx
  source/linear-algebra/source/03-AT/samples/05.ptx
  source/linear-algebra/source/03-AT/samples/06.ptx
Labels: linear-algebra

#524 Typo fix
  source/calculus/source/02-DF/01.ptx
  source/calculus/source/02-DF/02.ptx
  source/calculus/source/02-DF/04.ptx
  source/calculus/source/02-DF/05.ptx
  source/calculus/source/02-DF/07.ptx
  source/calculus/source/03-AD/01.ptx
  source/calculus/source/03-AD/02.ptx
  source/calculus/source/03-AD/04.ptx
  source/calculus/source/03-AD/06.ptx
  source/calculus/source/03-AD/07.ptx
  source/calculus/source/03-AD/09.ptx
  source/calculus/source/04-IN/04.ptx
  source/calculus/source/04-IN/05.ptx
  source/calculus/source/04-IN/06.ptx
  source/calculus/source/06-AI/05.ptx
  source/calculus/source/07-CO/01.ptx
  source/calculus/source/07-CO/02.ptx
  source/calculus/source/07-CO/03.ptx
  source/calculus/source/07-CO/05.ptx
  source/calculus/source/07-CO/06.ptx
  source/calculus/source/08-SQ/06.ptx
  source/calculus/source/09-PS/04.ptx
  source/linear-algebra/source/02-EV/03.ptx
  source/linear-algebra/source/02-EV/04.ptx
  source/linear-algebra/source/02-EV/05.ptx
  source/linear-algebra/source/03-AT/01.ptx
  source/linear-algebra/source/03-AT/02.ptx
  source/linear-algebra/source/03-AT/05.ptx
  source/linear-algebra/source/05-GT/02.ptx
  source/precalculus/source/02-FN/06.ptx
  source/precalculus/source/03-LF/01.ptx
  source/precalculus/source/03-LF/05.ptx
  source/precalculus/source/04-PR/02.ptx
  source/precalculus/source/04-PR/03.ptx
  source/precalculus/source/04-PR/06.ptx
  source/precalculus/source/05-EL/01.ptx
  source/precalculus/source/05-EL/07.ptx
  source/precalculus/source/06-TR/04.ptx
Labels: seeking-reviewer
