Repository TeamBasedInquiryLearning/library, pull requests merged in 2024-07, with the labels that each got.

#81 Reorder PR3,PR4,PR5 checkits
  precalculus/exercises/outcomes/PR/PR3/generator.sage
  precalculus/exercises/outcomes/PR/PR3/template.xml
  precalculus/exercises/outcomes/PR/PR4/generator.sage
  precalculus/exercises/outcomes/PR/PR4/template.xml
  precalculus/exercises/outcomes/PR/PR5/generator.sage
  precalculus/exercises/outcomes/PR/PR5/template.xml
Labels: checkit, precalculus

#76 Tweaks to Precalc PR1 Checkit
  precalculus/exercises/outcomes/PR/PR1/generator.sage
  precalculus/exercises/outcomes/PR/PR1/template.xml
Labels: checkit, precalculus

#84 Precalculus checkit pr6
  precalculus/exercises/outcomes/PR/PR6/generator.sage
  precalculus/exercises/outcomes/PR/PR6/template.xml
Labels: checkit, precalculus

#90 Draft of EQ1 checkit
  precalculus/exercises/outcomes/EQ/EQ1/generator.sage
  precalculus/exercises/outcomes/EQ/EQ1/template.xml
Labels: checkit, precalculus

#82 Precalculus checkit pr3
  precalculus/exercises/outcomes/PR/PR3/generator.sage
  precalculus/exercises/outcomes/PR/PR3/template.xml
Labels: checkit, precalculus

#147 PR5 Checkit updates
  scripts/preview_outcome.py
  source/precalculus/exercises/outcomes/PR/PR5/generator.sage
  source/precalculus/exercises/outcomes/PR/PR5/template.xml
Labels: checkit, precalculus

#202 fix build_bank.py
  .devcontainer.json
  scripts/build_bank.py
Labels: technical, library-wide

#201 Add exercises to AD8 and IN2
  source/calculus/assets/thebox-1.png
  source/calculus/assets/thebox-1.svg
  source/calculus/assets/thebox-2.png
  source/calculus/assets/thebox-2.svg
  source/calculus/assets/thebox-3.png
  source/calculus/assets/thebox-3.svg
  source/calculus/assets/thebox-4.png
  source/calculus/assets/thebox-4.svg
  source/calculus/source/03-AD/08.ptx
  source/calculus/source/04-IN/02.ptx
Labels: calculus

#164 AD3 CheckIt Fix
  source/calculus/exercises/outcomes/AD/AD3/generator.sage
  source/calculus/exercises/outcomes/AD/AD3/template.xml
Labels: checkit, calculus

#166 Precalc FN6 checkit
  source/precalculus/exercises/outcomes/FN/FN5/generator.sage
  source/precalculus/exercises/outcomes/FN/FN5/template.xml
Labels: checkit, precalculus

#165 Precalc FN4 Checkit
  source/precalculus/exercises/outcomes/EL/EL2/generator.sage
  source/precalculus/exercises/outcomes/FN/FN4/generator.sage
  source/precalculus/exercises/outcomes/FN/FN4/template.xml
Labels: checkit, precalculus
