Repository TeamBasedInquiryLearning/library, pull requests merged in 2024-10, with the labels that each got.

#331 Lighten background on FN1 Checkit
  source/precalculus/exercises/outcomes/FN/FN1/generator.sage
Labels: checkit, precalculus

#339 Add names to graphs instead of relying only on color
  source/precalculus/source/03-LF/01.ptx
Labels: precalculus, accessibility

#261 EL5 activity - clarify exponent
  source/precalculus/source/05-EL/05.ptx
Labels: good first issue, precalculus

#343 typo in individual practice 2.6.12
  source/linear-algebra/source/02-EV/06.ptx
Labels: linear-algebra

#342 Fix LF graph scales
  source/precalculus/exercises/outcomes/LF/LF1/generator.sage
  source/precalculus/exercises/outcomes/LF/LF2/generator.sage
Labels: checkit, precalculus

#347 Adjust EV6 spanning set
  source/linear-algebra/exercises/outcomes/EV/EV6/generator.sage
Labels: linear-algebra, checkit

#346 Update 05.ptx
  source/calculus/source/03-AD/05.ptx
Labels: calculus

#349 typo
  source/linear-algebra/source/03-AT/01.ptx
Labels: linear-algebra

#350 typos in AI6
  source/calculus/source/06-AI/06.ptx
Labels: calculus

#351 addresses issue 301
  source/linear-algebra/source/01-LE/01.ptx
Labels: linear-algebra

#355 Clarify unknowns in AT-ready
  source/linear-algebra/exercises/outcomes/AT/AT-ready/template.xml
Labels: linear-algebra, checkit

#358 Give compatible values for examples in AT2
  source/linear-algebra/source/03-AT/02.ptx
Labels: linear-algebra

#356 Adding Matrix and Polynomial Basis Activity to Address #354
  source/linear-algebra/source/03-AT/06.ptx
Labels: linear-algebra

#364 AT6 emphasize change of basis
  source/linear-algebra/source/03-AT/06.ptx
Labels: linear-algebra

#363 AT2 - add scaffolded flunecy builder similar to checkit bank
  source/linear-algebra/source/03-AT/02.ptx
Labels: linear-algebra

#373 Fractional slopes in LF1
  source/precalculus/exercises/outcomes/LF/LF1/generator.sage
Labels: checkit, precalculus

#379 Update RAT-PR.tex
  source/precalculus/RATs/RAT-PR.tex
Labels: precalculus

#378 Add recent talks to webpage
  site/pages/about.md
Labels: website

#380 PR1 parentheses fix
  source/precalculus/source/04-PR/01.ptx
Labels: precalculus
