Repository TeamBasedInquiryLearning/library, pull requests merged in 2025-03, with the labels that each got.

#525 Fixing EQ7
  source/precalculus/source/01-EQ/07.ptx
Labels: precalculus

#636 Added in other trig functions
  source/precalculus/source/06-TR/03.ptx
Labels: precalculus

#617 Closes FN4 Discussion #595
  source/precalculus/source/02-FN/04.ptx
Labels: precalculus

#635 4.2.7 missing p tags
  source/precalculus/source/04-PR/02.ptx
Labels: precalculus

#622 FN1 fluency addition
  source/precalculus/source/02-FN/01.ptx
Labels: precalculus

#645 Fix index error in sage helper function
  source/common/sagemath/library.sage
Labels: checkit, technical

#647 Add features to TBIL.plot_angle()
  source/common/sagemath/library.sage
Labels: technical

#653 Add trig_plot function
  source/common/sagemath/library.sage
  source/precalculus/source/07-PF/01.ptx
Labels: technical, library-wide

#643 Reorder Precalc sections
  source/precalculus/exercises/bank.xml
  source/precalculus/exercises/outcomes/EQ/EQ6/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ6/template.xml
  source/precalculus/exercises/outcomes/EQ/EQ7/template.xml
  source/precalculus/exercises/outcomes/PR/PR6/generator.sage
  source/precalculus/exercises/outcomes/PR/PR6/template.xml
  source/precalculus/exercises/outcomes/PR/PR7/generator.sage
  source/precalculus/exercises/outcomes/PR/PR7/template.xml
  source/precalculus/exercises/outcomes/PR/PR8/generator.sage
  source/precalculus/exercises/outcomes/PR/PR8/template.xml
  source/precalculus/exercises/outcomes/PR/PR9/generator.sage
  source/precalculus/exercises/outcomes/PR/PR9/template.xml
  source/precalculus/source/01-EQ/06.ptx
  source/precalculus/source/01-EQ/main.ptx
  source/precalculus/source/01-EQ/outcomes/06.ptx
  source/precalculus/source/01-EQ/outcomes/main.ptx
  source/precalculus/source/04-PR/06.ptx
  source/precalculus/source/04-PR/07.ptx
  source/precalculus/source/04-PR/08.ptx
  source/precalculus/source/04-PR/09.ptx
  source/precalculus/source/04-PR/main.ptx
  source/precalculus/source/04-PR/outcomes/06.ptx
  source/precalculus/source/04-PR/outcomes/07.ptx
  source/precalculus/source/04-PR/outcomes/08.ptx
  source/precalculus/source/04-PR/outcomes/09.ptx
  source/precalculus/source/04-PR/outcomes/main.ptx
  source/precalculus/source/meta/frontmatter.ptx
Labels: precalculus

#660 Improve plotting helper functions
  source/common/sagemath/library.sage
Labels: technical

#651 Restore solution to EQ5 task 2
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
Labels: checkit, precalculus

#677 Fix typo in EL5
  source/precalculus/source/05-EL/05.ptx
Labels: precalculus

#648 Add Octave cell to AT3
  source/linear-algebra/source/03-AT/03.ptx
Labels: linear-algebra

#682 hardcode conda python to use correct versions
  codechat_config_calculus.yaml
  codechat_config_linear_algebra.yaml
  codechat_config_precalculus.yaml
Labels: technical, library-wide

#633 add "use techonlogy" to LE2 sample
  source/linear-algebra/source/01-LE/samples/02.ptx
Labels: linear-algebra

#665 ensure interesting AT3 scenarios
  source/linear-algebra/exercises/outcomes/AT/AT3/generator.sage
Labels: linear-algebra
