Repository TeamBasedInquiryLearning/library, pull requests merged in 2025-05, with the labels that each got.

#681 TE4 First draft
  source/precalculus/assets/Images/Law-of-Sines-Triangle.png
  source/precalculus/source/08-TE/04.ptx
Labels: precalculus

#740 Move hint
  source/precalculus/source/08-TE/04.ptx
Labels: precalculus

#715 LF7 Checkit grammar fix
  source/precalculus/exercises/outcomes/LF/LF7/template.xml
Labels: checkit, precalculus

#716 TR3 feedback
  source/precalculus/source/06-TR/03.ptx
Labels: precalculus

#749 TR2 Checkit
  source/common/sagemath/library.sage
  source/precalculus/exercises/bank.xml
  source/precalculus/exercises/outcomes/TR/TR1/generator.sage
  source/precalculus/exercises/outcomes/TR/TR1/template.xml
  source/precalculus/exercises/outcomes/TR/TR2/generator.sage
  source/precalculus/exercises/outcomes/TR/TR2/template.xml
Labels: checkit, precalculus

#750 Addressed Issue TR4 feedback #726
  source/precalculus/source/06-TR/04.ptx
Labels: precalculus

#753 Addresses #745 by replacing the word exponents with superscripts.
  source/calculus/source/02-DF/08.ptx
Labels: calculus

#757 modify executables.ptx so pretext knows where to find Sage no matter what
  .devcontainer/installSage.sh
Labels: bug, technical

#752 Precalculus reorganizing
  source/precalculus/source/06-TR/03.ptx
  source/precalculus/source/06-TR/outcomes/03.ptx
  source/precalculus/source/07-PF/02.ptx
  source/precalculus/source/07-PF/03.ptx
  source/precalculus/source/07-PF/04.ptx
  source/precalculus/source/07-PF/main.ptx
  source/precalculus/source/07-PF/outcomes/02.ptx
  source/precalculus/source/07-PF/outcomes/03.ptx
  source/precalculus/source/07-PF/outcomes/04.ptx
  source/precalculus/source/07-PF/outcomes/main.ptx
  source/precalculus/source/08-TE/04.ptx
  source/precalculus/source/08-TE/05.ptx
  source/precalculus/source/08-TE/06.ptx
  source/precalculus/source/08-TE/main.ptx
  source/precalculus/source/08-TE/outcomes/04.ptx
  source/precalculus/source/08-TE/outcomes/05.ptx
  source/precalculus/source/08-TE/outcomes/06.ptx
  source/precalculus/source/08-TE/outcomes/main.ptx
Labels: precalculus

#666 Refactor PR7
  source/precalculus/exercises/outcomes/PR/PR7/generator.sage
Labels: checkit, precalculus

#698 PF4 first draft
  source/precalculus/source/07-PF/03.ptx
Labels: precalculus

#762 addresses issue "Typo" in GT1 #714
  source/linear-algebra/source/05-GT/01.ptx
Labels: linear-algebra

#767 AT1 Sample Solution
  source/linear-algebra/source/03-AT/samples/01.ptx
Labels: linear-algebra

#769 Addressing Issue #761
  source/linear-algebra/source/05-GT/05.ptx
  source/linear-algebra/source/05-GT/samples/05.ptx
  source/linear-algebra/source/meta/sample-exercises.ptx
Labels: linear-algebra

#768 PR7 Checkit bugfix
  source/precalculus/exercises/outcomes/PR/PR7/generator.sage
Labels: bug, checkit, precalculus

#748 Incorporated the changes requested at #462
  source/calculus/source/05-TI/01.ptx
Labels: calculus

#774 Update checkit to 0.2.7
  requirements.txt
  scripts/build_bank.py
  scripts/preview_outcome.py
  scripts/quickbuild_changes.py
  source/linear-algebra/exercises/outcomes/EV/EV1/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV3/generator.sage
  source/linear-algebra/source/03-AT/01.ptx
  source/linear-algebra/source/meta/backmatter.ptx
Labels: checkit, technical

#779 Automatically push a big green button
  .devcontainer/devcontainer.json
Labels: technical

#654 Cg2wilson ti ai sageimgs
  source/calculus/source/06-AI/01.ptx
  source/calculus/source/06-AI/02.ptx
  source/calculus/source/06-AI/05.ptx
Labels: calculus

#788 Fix titles for reordered Precalculus sections
  source/precalculus/source/07-PF/02.ptx
  source/precalculus/source/07-PF/03.ptx
  source/precalculus/source/08-TE/05.ptx
  source/precalculus/source/08-TE/06.ptx
Labels: precalculus

#736 Update FN6 (inverses)
  source/precalculus/source/02-FN/06.ptx
Labels: precalculus

#663 TE3 Draft done
  source/precalculus/source/08-TE/03.ptx
Labels: precalculus

#789 Addresses TE2 Feedback #739
  source/precalculus/source/08-TE/02.ptx
Labels: precalculus

#790 Addresses TE5 (now TE6) feedback #743
  source/precalculus/assets/Images/depression-elevation-angle.jpg
  source/precalculus/source/08-TE/06.ptx
Labels: precalculus

#787 TR3 Checkit
  source/common/sagemath/library.sage
  source/precalculus/exercises/bank.xml
  source/precalculus/exercises/outcomes/TR/TR3/generator.sage
  source/precalculus/exercises/outcomes/TR/TR3/template.xml
Labels: checkit, precalculus

#803 only deploy single authoring preview
  .github/workflows/pretext-cli.yml
  project.ptx
  scripts/build_bank.py
  scripts/quickbuild_changes.py
  site/pages/library.md
Labels: technical, library-wide
