Repository TeamBasedInquiryLearning/library, pull requests merged in 2025-02, with the labels that each got.

#574 Addresses EQ6 reflections #564
  source/precalculus/source/01-EQ/01.ptx
  source/precalculus/source/01-EQ/06.ptx
Labels: precalculus

#568 Additional activity for EQ2 #162
  source/precalculus/source/01-EQ/02.ptx
Labels: precalculus, under-review

#484 Fixed PR1 issues #382
  source/precalculus/source/04-PR/01.ptx
Labels: precalculus

#587 FN5 tweaks
  source/precalculus/source/02-FN/05.ptx
Labels: precalculus, seeking-reviewer, style

#582 small typos in FN4
  source/precalculus/source/02-FN/04.ptx
Labels: precalculus, seeking-reviewer

#583 LE3: more accurate condition for infinitely-many solutions
  source/linear-algebra/source/01-LE/03.ptx
  source/linear-algebra/source/01-LE/04.ptx
Labels: linear-algebra

#481 Solution to 1.3 Limits-Analytically-(LT3)
  source/calculus/source/01-LT/03.ptx
Labels: calculus, under-review, awaiting-author

#573 Add logo
  brand/logo.png
  brand/logo.svg
  source/calculus/assets/logo.png
  source/calculus/source/meta/docinfo.ptx
  source/linear-algebra/assets/logo.png
  source/linear-algebra/source/meta/docinfo.ptx
  source/precalculus/assets/Images/logo.png
  source/precalculus/source/meta/docinfo.ptx
Labels: library-wide

#585 EQ5 tweaks
  source/precalculus/source/01-EQ/05.ptx
Labels: precalculus, under-review

#578 fn3 updates
  source/precalculus/source/02-FN/03.ptx
Labels: precalculus, under-review

#591 Fix invalid xmls in LT3
  source/calculus/source/01-LT/03.ptx
Labels: calculus

#594 EV3 updates
  source/linear-algebra/source/02-EV/03.ptx
Labels: linear-algebra

#602 Fix reuse of variable
  source/precalculus/exercises/outcomes/LF/LF1/generator.sage
Labels: checkit, precalculus

#601 Grammar fix, closes #599
  source/precalculus/source/03-LF/01.ptx
Labels: precalculus

#461 Sage images for TI and AI
  source/calculus/source/05-TI/08.ptx
  source/calculus/source/06-AI/01.ptx
  source/calculus/source/06-AI/02.ptx
  source/calculus/source/06-AI/04.ptx
  source/calculus/source/06-AI/05.ptx
  source/calculus/source/06-AI/06.ptx
  source/calculus/source/06-AI/07.ptx
Labels: calculus

#609 m-and-ns in EV2
  source/linear-algebra/source/02-EV/02.ptx
  source/linear-algebra/source/02-EV/outcomes/02.ptx
Labels: linear-algebra

#608 Closes Points vs x-values in Definition 3.1.7 #598
  source/precalculus/source/03-LF/01.ptx
Labels: precalculus

#625 EQ5 checkit fix
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
Labels: checkit, precalculus

#612 Kathy first draft for TR1 (rebased)
  source/common/sagemath/library.sage
  source/precalculus/assets/learning.png
  source/precalculus/assets/learning.svg
  source/precalculus/source/06-TR/01.ptx
Labels: precalculus

#629 Common sagemath library across books+banks
  scripts/_preview_outcome.sage
  scripts/preview_outcome.py
  source/common/sagemath/library.sage
  source/linear-algebra/exercises/outcomes/AT/AT-ready/generator.sage
  source/linear-algebra/exercises/outcomes/AT/AT1/generator.sage
  source/linear-algebra/exercises/outcomes/AT/AT2/generator.sage
  source/linear-algebra/exercises/outcomes/AT/AT3/generator.sage
  source/linear-algebra/exercises/outcomes/AT/AT4/generator.sage
  source/linear-algebra/exercises/outcomes/AT/AT5/generator.sage
  source/linear-algebra/exercises/outcomes/AT/AT6/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV-ready/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV1/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV2/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV3/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV4/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV5/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV6/generator.sage
  source/linear-algebra/exercises/outcomes/EV/EV7/generator.sage
  source/linear-algebra/exercises/outcomes/Extra/Extra1Midterm/generator.sage
  source/linear-algebra/exercises/outcomes/Extra/Extra2Final/generator.sage
  source/linear-algebra/exercises/outcomes/GT/GT-ready/generator.sage
  source/linear-algebra/exercises/outcomes/GT/GT1/generator.sage
  source/linear-algebra/exercises/outcomes/GT/GT2/generator.sage
  source/linear-algebra/exercises/outcomes/GT/GT3/generator.sage
  source/linear-algebra/exercises/outcomes/GT/GT4/generator.sage
  source/linear-algebra/exercises/outcomes/LE/LE-ready/generator.sage
  source/linear-algebra/exercises/outcomes/LE/LE1/generator.sage
  source/linear-algebra/exercises/outcomes/LE/LE2/generator.sage
  source/linear-algebra/exercises/outcomes/LE/LE3/generator.sage
  source/linear-algebra/exercises/outcomes/LE/LE4/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX-ready/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX1/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX2/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX3/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX4/generator.sage
  source/linear-algebra/sage/common.sage
  source/precalculus/exercises/outcomes/EQ/EQ1/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ4/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
  source/precalculus/exercises/outcomes/EQ/EQ7/generator.sage
  source/precalculus/exercises/outcomes/LF/LF3/generator.sage
  source/precalculus/sage/common.sage
  source/precalculus/source/01-EQ/07.ptx
Labels: technical, library-wide

#592 Closes Issue EQ1 tweaks #566
  source/precalculus/source/01-EQ/01.ptx
Labels: precalculus

#630 answer fix in LF6
  source/precalculus/source/03-LF/06.ptx
Labels: precalculus, seeking-reviewer
