Repository TeamBasedInquiryLearning/library, pull requests merged in 2025-01, with the labels that each got.

#428 AT3: Add common aliases for kernel and image
  source/linear-algebra/source/02-EV/02.ptx
  source/linear-algebra/source/02-EV/06.ptx
  source/linear-algebra/source/03-AT/03.ptx
  source/linear-algebra/source/03-AT/06.ptx
Labels: linear-algebra, under-review

#497 Creating PS 5 on Taylor's Theorem
  source/calculus/source/09-PS/05.ptx
  source/calculus/source/09-PS/main.ptx
  source/calculus/source/09-PS/outcomes/05.ptx
  source/calculus/source/09-PS/outcomes/main.ptx
Labels: calculus, new-content

#557 Add missing p to intro of 2.1.12
  source/precalculus/source/02-FN/01.ptx
Labels: precalculus

#556 Add <p> tags to answers on 2.1.16
  source/precalculus/source/02-FN/01.ptx
Labels: precalculus

#555 Consistent grammer in PF2 outcome
  source/precalculus/source/07-PF/outcomes/02.ptx
Labels: precalculus

#551 Stray comma
  source/precalculus/source/04-PR/05.ptx
Labels: precalculus

#553 Clear up phrasing and tweak graph on Activitiy 3.2.11
  source/precalculus/source/03-LF/02.ptx
Labels: precalculus

#550 Typo fix
  source/precalculus/source/01-EQ/05.ptx
Labels: precalculus

#554 Tweak grammar in outcome PF4
  source/precalculus/source/07-PF/outcomes/04.ptx
Labels: precalculus

#516 additions to FN1
  source/precalculus/source/02-FN/01.ptx
Labels: precalculus

#560 Addresses #558 using example environment.
  source/calculus/source/09-PS/05.ptx
Labels: calculus

#567 Escape slashes in strings in Checkit problems
  source/precalculus/exercises/outcomes/EL/EL4/generator.sage
  source/precalculus/exercises/outcomes/EL/EL7/generator.sage
Labels: checkit

#470 Fixed One-to-one property of logs in EL3, EL5, and EL6 #430
  source/precalculus/source/05-EL/03.ptx
  source/precalculus/source/05-EL/05.ptx
  source/precalculus/source/05-EL/06.ptx
Labels: precalculus, under-review

#498 FN2 CheckIt attempt
  source/precalculus/exercises/outcomes/FN/FN2/generator.sage
  source/precalculus/exercises/outcomes/FN/FN2/template.xml
Labels: precalculus, under-review
