Repository TeamBasedInquiryLearning/library, pull requests merged in 2025-04, with the labels that each got.

#687 Typo in warmup to MX1
  source/linear-algebra/source/04-MX/01.ptx
Labels: linear-algebra

#692 PR7 - adjusting graphs
  source/precalculus/source/04-PR/07.ptx
Labels: precalculus

#690 Update 05.ptx for simple typo fixes
  source/calculus/source/06-AI/05.ptx
Labels: calculus

#694 Typo in PF1 answer
  source/precalculus/source/07-PF/01.ptx
Labels: precalculus

#695 Copypast error in graph
  source/precalculus/source/meta/graphs.ptx
Labels: precalculus

#668 LF7 Checkit fixes
  source/precalculus/exercises/outcomes/LF/LF7/generator.sage
  source/precalculus/exercises/outcomes/LF/LF7/template.xml
Labels: checkit, precalculus

#700 Missing p tags in PR2
  source/precalculus/source/04-PR/02.ptx
Labels: precalculus

#705 Fix header comment
  xsl/slides.xsl
Labels: technical

#706 Missing p tags in Calculus LT5
  source/calculus/source/01-LT/05.ptx
Labels: calculus

#711 Upgrade PreTeXt
  requirements.txt
Labels: technical

#719 add prompt to use tech in MX2
  source/linear-algebra/exercises/outcomes/MX/MX2/template.xml
  source/linear-algebra/source/04-MX/samples/02.ptx
  source/linear-algebra/source/meta/sample-exercises.ptx
Labels: linear-algebra, checkit

#720 GT1 interactives and scaffolded exploration tweaks
  source/linear-algebra/source/05-GT/01.ptx
  source/linear-algebra/source/05-GT/doenet/GT1-doenet-add-column-multiples.xml
  source/linear-algebra/source/05-GT/doenet/GT1-doenet-duplicate-column.xml
  source/linear-algebra/source/05-GT/doenet/GT1-doenet-scale-column.xml
  source/linear-algebra/source/05-GT/doenet/GT1-doenet-transformation.xml
Labels: linear-algebra

#721 add doenet activity for eigenvectors GT3
  source/linear-algebra/source/05-GT/03.ptx
  source/linear-algebra/source/05-GT/doenet/GT3-doenet-eigenvector.xml
Labels: linear-algebra

#723 update codespace config
  .devcontainer/devcontainer.json
  .devcontainer/installLatex.sh
  .devcontainer/installPandoc.sh
  .devcontainer/installPretext.sh
  .devcontainer/installSage.sh
  .gitignore
  codechat_config_calculus.yaml
  codechat_config_linear_algebra.yaml
  codechat_config_precalculus.yaml
  codespace-welcome.md
  requirements.txt
  scripts/setup.sh
Labels: technical, library-wide

#727 EQ5 Checkit remove degenerate case
  source/precalculus/exercises/outcomes/EQ/EQ5/generator.sage
Labels: checkit, precalculus

#717 refactor TI8
  source/calculus/exercises/outcomes/TI/TI8/generator.sage
  source/calculus/exercises/outcomes/TI/TI8/template.xml
Labels: calculus

#732 GT4 eigenvalue between 2-5
  source/linear-algebra/exercises/outcomes/GT/GT4/generator.sage
Labels: linear-algebra, checkit

#696 PF3 first draft
  source/precalculus/source/07-PF/03.ptx
Labels: precalculus

#734 refactor MX1 to prompt use of technology
  source/linear-algebra/exercises/outcomes/MX/MX1/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX1/template.xml
  source/linear-algebra/source/04-MX/samples/01.ptx
  source/linear-algebra/source/meta/sample-exercises.ptx
Labels: linear-algebra, checkit
