Repository TeamBasedInquiryLearning/library, pull requests merged in 2025-07, with the labels that each got.

#785 Implementing change of basis outcome in MX
  source/linear-algebra/exercises/bank.xml
  source/linear-algebra/exercises/outcomes/MX/MX2/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX2/template.xml
  source/linear-algebra/exercises/outcomes/MX/MX3/generator.sage
  source/linear-algebra/exercises/outcomes/MX/MX3/template.xml
  source/linear-algebra/source/04-MX/02.ptx
  source/linear-algebra/source/04-MX/03.ptx
  source/linear-algebra/source/04-MX/outcomes/02.ptx
  source/linear-algebra/source/04-MX/outcomes/03.ptx
  source/linear-algebra/source/04-MX/samples/02.ptx
  source/linear-algebra/source/04-MX/samples/03.ptx
  source/linear-algebra/source/05-GT/05.ptx
  source/linear-algebra/source/05-GT/main.ptx
  source/linear-algebra/source/05-GT/samples/05.ptx
  source/linear-algebra/source/meta/sample-exercises.ptx
Labels: linear-algebra, checkit, awaiting-author

#834 Tonya-PF-Readiness
  source/precalculus/RATs/RAT-PF.tex
  source/precalculus/RATs/README.md
  source/precalculus/source/07-PF/main.ptx
  source/precalculus/source/07-PF/readiness.ptx
Labels: precalculus

#838 Add question to EQ RAT
  source/precalculus/RATs/RAT-EQ.tex
Labels: precalculus

#825 TE6 Checkit
  source/precalculus/exercises/bank.xml
  source/precalculus/exercises/outcomes/TE/TE6/generator.sage
  source/precalculus/exercises/outcomes/TE/TE6/template.xml
Labels: checkit, precalculus

#746 Module AD answers
  source/calculus/source/03-AD/01.ptx
  source/calculus/source/03-AD/02.ptx
  source/calculus/source/03-AD/03.ptx
  source/calculus/source/03-AD/04.ptx
  source/calculus/source/03-AD/05.ptx
  source/calculus/source/03-AD/06.ptx
  source/calculus/source/03-AD/07.ptx
  source/calculus/source/03-AD/08.ptx
  source/calculus/source/03-AD/09.ptx
Labels: calculus

#829 Typeset powers of trig functions
  source/calculus/exercises/outcomes/TI/TI3/generator.sage
  source/common/sagemath/library.sage
  source/precalculus/exercises/outcomes/TE/TE2/generator.sage
  source/precalculus/exercises/outcomes/TE/TE3/generator.sage
Labels: checkit, precalculus

#846 Precal EL2 CheckIt: add 25% chance to get base of e
  source/precalculus/exercises/outcomes/EL/EL2/generator.sage
Labels: checkit, precalculus
